@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap'); // sass-lint:disable-line no-url-domains no-url-protocols

@import 'variables';
$mdi-font-path: '~@mdi/font/fonts';
@import '~@mdi/font/scss/materialdesignicons';
@import '~bulma/bulma';

.flex-end {
  justify-content: flex-end;
}

.no-scroll {
  overflow: hidden;
}
